page-log-in {

    .main {

        img {
            margin: 20px 0;
        }

        @at-root #{&}-button {
            margin: 30px 0 15px;

            & button:first-child {
                margin-bottom: 10px;
            }

            & button {
                font-weight: bold;
            }

        }

    }

    .align-items-flex-end {
        align-items: flex-end;
        -webkit-align-items: flex-end;
    }

}
