page-admin-dashboard {

  .item-md .item-button:not(.not-included),
  .button-round-md:not(.not-included) {
    padding: 0 1em;
    height: 45px;
    font-size: 1.7rem;
    font-weight: bold;
  }

  .item-md h2 {
    font-size: 20px;
    color: #488aff;
  }

  .numbers-rep {
    font-size: 30px;
  }

  .button-large-md {
    font-size: 1.5rem;
  }

  .list-md .item-block .item-inner {
    border-bottom: none;
  }

  .margin-bottom {
    margin-bottom: 15px;
  }

}
