<!--
  Generated template for the AdminChapterLessonQuestionsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Lesson Question</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <h3 class="chapter-title">{{ questionTitle }} of Lesson Question</h3>
    </ion-item>
    <ion-item>
      {{ questionsList | json }}
    </ion-item>
  </ion-list>

  <ion-list *ngIf="questionsListCount > 0; else showNoRecord">
    <ion-item>
      <ion-label>List of Lesson Qestions</ion-label>
      <ion-select [(ngModel)]="sort">
        <ion-option value="2">Difficulty</ion-option>
        <ion-option value="1">Range</ion-option>
        <ion-option value="0">Status</ion-option>
      </ion-select>
    </ion-item>
    <ion-item *ngFor="let question of questionsList" class="item-border">
      <div class="title-link">
        <ion-icon name="md-arrow-dropright"></ion-icon>
        {{ question['question_content'] }}
      </div>
      <button (click)="updateQuestion(question)" class="not-included" clear ion-button item-end>Edit</button>
      <button (click)="deleteQuestion(question['question_id'])" class="not-included delete-button" clear ion-button
        item-end>Delete</button>
    </ion-item>
  </ion-list>
  <ng-template #showNoRecord>
    <ion-list>
      <ion-item>
        <p>No record of question for now.</p>
      </ion-item>
    </ion-list>
  </ng-template>

</ion-content>
