page-admin-settings {

  .item-md {
    padding-left: 0;
  }

  .list-md .item-block .item-inner {
    padding-left: 15px;
  }

  .item-md .item-button {
    padding: 0 1em;
    height: 40px;
    font-size: 1.5rem;
  }

  .item-md p {
    font-size: 18px;
    font-weight: bold;
  }

}
