page-admin-chapter-lesson {

  .margin-top-bottom {
    margin: 10px 0 15px;
  }

  .no-result-title {
    font-size: 20px;
  }

  ion-select {
    width: 120px;
  }

  .item-md .item-button,
  .button-round-md {
    padding: 0 1em;
    height: 45px;
    font-size: 1.7rem;
    font-weight: bold;
    &[small] {
      font-size: 15px;
      height: 38px;
    }
  }

  .item-md .item-button.no-bold {
    font-weight: normal;
    padding: 0 0.6em;
    height: 25px;
    font-size: 1.2rem;
  }

  .select-md .select-icon .select-icon-inner {
    margin-top: 5px;
  }

  #imageManager-1 {
    display: none;
  }

  .editor {
    margin-bottom: 15px;
    .fr-box {
      margin-bottom: 10px;
    }

  }

}
