page-admin-chapter-lesson {

  .margin-top-bottom {
    margin: 10px 0 15px;
  }

  .no-result-title {
    font-size: 20px;
  }

  ion-select {
    width: 120px;
  }

  .item-md .item-button {
    padding: 0 1em;
    height: 45px;
    font-size: 1.7rem;
    font-weight: bold;
  }

  .select-md .select-icon .select-icon-inner {
    margin-top: 5px;
  }

  #imageManager-1 {
    display: none;
  }

}
