<!--
  Generated template for the AdminChapterLessonPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Chapter Lesson</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item *ngIf="isUpdate">
      <ion-label>Lesson Status</ion-label>
      <ion-select [(ngModel)]="lessonStatus">
        <ion-option value="1">Active</ion-option>
        <ion-option value="0">Inactive</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label floating>Lesson Title</ion-label>
      <ion-input type="text" [(ngModel)]="lessonTitle"></ion-input>
    </ion-item>
  </ion-list>
  <div class="editor">
    <div [froalaEditor]="options" [(ngModel)]="editorContent"></div>
    <div text-right class="has-margin">
      <div *ngIf="isUpdate; else showCreate">
        <button (click)="updateLessonProceed()" ion-button round icon-left>
          <ion-icon name="ios-send"></ion-icon>
          Update
        </button>
        <button (click)="cancelUpdateLesson()" color="danger" ion-button round icon-left>
          <ion-icon name="md-close"></ion-icon>
          cancel
        </button>
      </div>
      <ng-template #showCreate>
        <button (click)="addLesson()" ion-button round icon-left>
          <ion-icon name="ios-send"></ion-icon>
          submit
        </button>
      </ng-template>
    </div>
  </div>

  <ion-list *ngIf="lessons['success'] && lessonsCount > 0; else showNoRecord">
    <ion-item>
      <ion-label>List of Lessons</ion-label>
      <ion-select (ionChange)="sortNow(sort)" [(ngModel)]="sort">
        <ion-option value="2">All</ion-option>
        <ion-option value="1">Active</ion-option>
        <ion-option value="0">Inactive</ion-option>
      </ion-select>
    </ion-item>
    <ion-item (click)="addQuestion(lesson)" *ngFor="let lesson of lessons['lessons']" class="item-border">
      <p class="title-link">
        <ion-icon name="md-arrow-dropright"></ion-icon>
        {{ lesson['lesson_title'] }}
      </p>
      <button (click)="updateLesson($event, lesson)" class="not-included no-bold" ion-button clear item-end>EDIT</button>
      <button (click)="deleteLesson($event, lesson['lesson_id'])" class="delete-button not-included no-bold" ion-button clear item-end>DELETE</button>
    </ion-item>
  </ion-list>

  <ng-template #showNoRecord>
    <ion-list>
      <ion-item>
        <p>{{ lessons['message'] }}</p>
        <button (click)="viewAll()" class="not-included" ion-button round item-right small>View All</button>
      </ion-item>
    </ion-list>
  </ng-template>
  
</ion-content>
