<!--
  Generated template for the AdminChapterLessonPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Chapter Lesson</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <ion-list>
  
    <ion-item>
      <ion-label>List of Lessons</ion-label>
      <ion-select (ionChange)="sortNow(sort)" [(ngModel)]="sort">
        <ion-option value="2">All</ion-option>
        <ion-option value="1">Active</ion-option>
        <ion-option value="0">Inactive</ion-option>
      </ion-select>
    </ion-item>
  
  </ion-list>

  <ion-list *ngIf="lessons['success'] && lessonsCount > 0; else showNoRecord">

    <ion-item>
      {{ lessons | json }}
    </ion-item>

  </ion-list>

  <ng-template #showNoRecord>

    {{ options | json }}

    <ion-list>

      <ion-item>
        <h3 class="no-result-title">No lesson found.</h3>
        <p *ngIf="lessons['message']; else showNoMessage" class="margin-top-bottom">{{ lessons['message'] }}</p>
        <ng-template #showNoMessage>
          <p class="margin-top-bottom">No record found for now.</p>
        </ng-template>
        <div text-right>
          <button (click)="createLesson()" ion-button round icon-left>
            <ion-icon name="md-create"></ion-icon>
            create
          </button>
        </div>
      </ion-item>

    </ion-list>

  </ng-template>

</ion-content>
