page-discover-lesson-details {

  .card-title-md,
  .card-content-md {
    padding: 15px;
  }

  .card-title-md {
    padding-bottom: 0;
  }

  .date {
    font-size: 12px;
    font-weight: bold;
    color: #949494;
    margin-bottom: 10px;
  }

}
