page-admin-manage-question-range {

  .chapter-title {
    font-size: 20px;
    font-weight: bold;
    color: rgb(48, 134, 214);
  }

  .item-md {
    padding-left: 0;
  }

  .list-md .item-block .item-inner {
    padding-left: 15px;
  }

  .item-md .item-button:not(.not-included),
  .button-round-md:not(.not-included) {
    padding: 0 1em;
    height: 45px;
    font-size: 1.7rem;
    font-weight: bold;
  }

  .list-md .item-block.no-border .item-inner {
    border-bottom: none;
    margin: 0 20px;
    padding: 0;
  }

  .item-md.item-block.item-border .item-inner {
    padding-left: 15px;
  }

  .item-border {
    border-bottom: 1px solid #e0e0e0;

    &:last-child {
      border-bottom: none;
    }

  }

  .select-md .select-icon .select-icon-inner {
    margin-top: 5px;
  }

}
