page-admin-chapter {
  .chapter-title {
    font-size: 20px;
    font-weight: bold;
    color: rgb(48, 134, 214);
    padding: 15px 15px 0;
    @at-root #{&}-content {
      margin-bottom: 15px;
      padding-right: 16px;
    }
  }

  .item-border {
    border-bottom: 1px solid #e0e0e0;
    &:first-child {
      border-top: 1px solid #e0e0e0;
    }
    &:last-child {
      border-bottom: none;
    }
  }

  ion-select {
    width: 120px;
  }

  .select-md .select-icon .select-icon-inner {
    margin-top: 5px;
  }

  .no-padding {
    padding-bottom: 0;
  }

}
