<!--
  Generated template for the AdminChapterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar hideBackButton>
    <button ion-button icon-only menuToggle>
      <ion-icon name="md-menu"></ion-icon>
    </button>
    <ion-title>Chapter</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div *ngIf="!isLoading; else showLoader">
    <ion-list>
      <ion-item class="item-border">
        <h3 class="chapter-title">{{ header }} of Chapter</h3>
      </ion-item>
      <ion-item *ngIf="isUpdate" class="chapter-title-content">
        <ion-label>Chapter Status</ion-label>
        <ion-select [(ngModel)]="chapterStatus">
          <ion-option value="1">Active</ion-option>
          <ion-option value="0">Inactive</ion-option>
        </ion-select>
      </ion-item>
      <ion-item class="chapter-title-content">
        <ion-label floating>Chapter Title</ion-label>
        <ion-textarea type="text" #chapterTitle></ion-textarea>
      </ion-item>
      <ion-item>
        <button *ngIf="!isUpdate; else showUpdateButton" (click)="addChapterTitle()" ion-button block round icon-left>
          <ion-icon name="ios-send"></ion-icon>
          Submit
        </button>
        <ng-template #showUpdateButton>
          <button float-right (click)="cancelUpdate()" color="danger" ion-button round icon-left>
            <ion-icon name="ios-close"></ion-icon>
            Cancel
          </button>
          <button float-right (click)="updateChapter()" class="margin-right" ion-button round icon-left>
            <ion-icon name="ios-send"></ion-icon>
            Update
          </button>
        </ng-template>
      </ion-item>
    </ion-list>

    <ion-list>
      <ion-item class="item-border">
        <ion-label>List of Chapters</ion-label>
        <ion-select [(ngModel)]="sort" (ionChange)="chapterSort()" #chapter>
          <ion-option value="all">All</ion-option>
          <ion-option value="1">Active</ion-option>
          <ion-option value="0">Inactive</ion-option>
        </ion-select>
      </ion-item>
    </ion-list>

    <ion-list *ngIf="chapterLists; else showNoRecords">
      <ion-item *ngFor="let chapterList of chapterLists" (click)="chapterDetails(chapterList)" class="item-border">
        <div class="title-link">
          <ion-icon name="md-arrow-dropright"></ion-icon>
          <div class="inline-block">
            {{ chapterList.chapter_text }}
          </div>
        </div>
        <button class="not-included" (click)="editChapter($event, chapterList)" ion-button clear item-end>EDIT</button>
        <button (click)="deleteChapter($event, chapterList.chapter_id)" class="delete-button not-included" ion-button clear item-end>DELETE</button>
      </ion-item>
    </ion-list>

    <ng-template #showNoRecords>
      <ion-list>
        <ion-item class="item-border">
          <p>No result found.</p>
          <button (click)="viewAll()" class="not-included" ion-button round item-right small>View All</button>
        </ion-item>
      </ion-list>
    </ng-template>
  </div>

  <ng-template #showLoader>
    <ion-card>
      <ion-card-content>
        <div class="loader" title="2">
          <svg version="1.1" id="loader-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
            width="40px" height="40px" viewBox="0 0 50 50" style="enable-background:new 0 0 50 50;" xml:space="preserve">
            <path fill="#000" d="M43.935,25.145c0-10.318-8.364-18.683-18.683-18.683c-10.318,0-18.683,8.365-18.683,18.683h4.068c0-8.071,6.543-14.615,14.615-14.615c8.072,0,14.615,6.543,14.615,14.615H43.935z">
              <animateTransform attributeType="xml" attributeName="transform" type="rotate" from="0 25 25" to="360 25 25" dur="0.6s" repeatCount="indefinite"/>
            </path>
          </svg>
          <span>Loading chapter...</span>
        </div>
      </ion-card-content>
    </ion-card>
  </ng-template>
</ion-content>
