page-admin-chapter {

  .chapter-title {
    font-size: 20px;
    font-weight: bold;
    color: rgb(48, 134, 214);

    @at-root #{&}-content {
      padding-right: 16px;
    }

  }

  .button-round-md {
    font-weight: bold;
  }

  .item-border {
    border-bottom: 1px solid #e0e0e0;

    &:last-child {
      border-bottom: none;
    }

  }

  .list-md .item-block .item-inner {
    border-bottom: none;
  }

  ion-select {
    width: 120px;
  }

  .select-md .select-icon .select-icon-inner {
    margin-top: 5px;
  }

  .no-padding {
    padding-bottom: 0;
  }

  .item-md .item-button:not(.not-included),
  .button-round-md:not(.not-included) {
    padding: 0 1em;
    height: 45px;
    font-size: 1.7rem;
    font-weight: bold;
  }

  .margin-right {
    margin-right: 10px;
  }

}
