page-register {

    .item-md .item-button:not(.not-included),
    .button-round-md:not(.not-included) {
      padding: 0 1em;
      height: 45px;
      font-size: 1.7rem;
      font-weight: bold;
    }

  .main {

      img {
          margin: 20px 0;
      }

      @at-root #{&}-button {
          margin: 20px 0 10px;

          & button:first-child {
              margin-bottom: 15px;
          }

          & button {
              font-weight: bold;
          }

      }
      
  }

  .align-items-flex-end {
    align-items: flex-end;
    -webkit-align-items: flex-end;
  }

  .card-content-md {
    padding: 13px 16px 15px;
  }

}
