page-discover-lesson-exam-summary {

  .card-header-md {
    font-size: 2rem;
    color: #2196F3;
    font-weight: bold;
    margin-top: 10px;
  }

  .test-score {
    font-size: 4rem;
    font-weight: bold;
    color: #488aff;
  }

  .button-round {
    padding: 0 1em;
    height: 45px;
    font-size: 1.7rem;
    font-weight: bold;
    margin: 10px 0;
  }

  img {
    width: 150px;
    margin: 25px auto 35px;
  }

  .card-action {
    margin: 20px 0;
  }

}
