page-admin-accounts-details {

  .item-md .item-button:not(.not-included),
  .button-round-md:not(.not-included) {
    padding: 0 1em;
    height: 45px;
    font-size: 1.7rem;
    font-weight: bold;
  }

  .label-md[stacked], .label-md[floating].margin-bottom {
    margin-bottom: 10px;
  }

  ion-select {
    width: 120px;
  }

  .select-md .select-icon .select-icon-inner {
    margin-top: 5px;
  }

  .button-round-md:last-child {
    margin-top: 10px;
  }

}
