page-discover-lesson-exam-pre {

  .card-action {
    display: flex;
  }

  .margin {
    flex: 1 0 auto;
    margin-right: 10px;
  }

  .submit-button {
    padding: 0 1em;
    height: 45px;
    font-size: 1.7rem;
    font-weight: bold;
  }

  .button-md.button-clicked {
    background: #123f90;
  }

  .item-md {
    padding-left: 0;
  }

}
