// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.scroll-content {
    background: url('../assets/imgs/test-bg.jpg') no-repeat top center;
    background-size: cover;
}

.no-bg {
   .scroll-content {
       background: none;
    }
    .side-menu-header {
        background: #488aff;
    }
    .no-padding-ul {
        ion-item {
            ion-label {
                padding-left: 16px;
            }
        }
    }
    .menu-title {
        margin: 0;
        padding: 14px 0 13px;
        background: #488aff;
        color: #fff;
        font-size: 26px;
        font-weight: bold;
    }
}

*:not(ion-icon) {
    font-family: 'Gloria Hallelujah', cursive;
}

.focus-outline :focus {
    outline: none;
}

.toast-error-message .toast-bottom {
    background: #e13838;
}

.toast-success-message .toast-bottom {
    background: #71c800;
}

.alert-md .alert-button.delete-button,
.delete-button {
    color: #f53d3d;
}

.alert-edit-header.alert-md .alert-head,
.alert-delete-header.alert-md .alert-head {
    color: #fff;
    margin-bottom: 15px;
}

.alert-delete-header.alert-md .alert-head {
    background: #f53d3d;
}

.alert-edit-header.alert-md .alert-head {
    background: #488aff;
}

ion-alert.alert-top {
    padding-top: 0;
    align-items: center;
}

.item-md .title-link {
    & * {
        color: #488aff;
    }
}

button[small] {
    font-size: 15px;
    height: 38px;
}

.item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner,
.item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
    border-bottom-color: #488aff;
    box-shadow: inset 0 -1px 0 0 #488aff;
}

.card-md {
    margin: 15px 0;
    width: 100%;
}

.button-round-md.button-clear {
    padding: 0 1rem;
}

.ellipse {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    height: 20px;
}

.inline-block {
    display: inline-block;
}

.loader {
    text-align: center;
    padding: .5em;
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: top;

    & svg path,
    & svg rect{
      fill: #488aff;
    }

    & span {
        font-size: 20px;
        color: #9d9d9d;
        margin-left: 10px;
    }

  }